<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sterling Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1000px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: white;
            color: white;
            padding: 10px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h1>Welcome to the Employees Portal</h1>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/add">Add Employee</a></li>
                <li><a href="/list">See the list of Employees</a></li>
            </ul><br>
            <div class="input-group">
                <form action="/search" method="post">
                    <h4>Search Employees by</h4>
                    <input type="text" name="search" class="form-control" placeholder="First Name">
                    <input type="text" name="search2" class="form-control" placeholder="Last Name"></br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <form action="/search2" method="post">
                    <select name="departmentId" class="form-control" />
                    <option value="">--Department--</option>
                    <option value=1>Accounting and Finance</option>
                    <option value=2>Human Resources</option>
                    <option value=3>Marketing & Sales</option>
                    <option value=4>Production</option>
                    <option value=5>Purchasing</option>
                    <option value=6>Research and Development</option>
                    </select>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <hr>
            <div class="container">
                <form action="#" th:action="@{/process}"
                      th:object="${employee}"
                      method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="jumbotron">
                        <h1>Fill the form to add an employee.</h1>
                        <p>If you can't see your department in the list click the link below to add your department.</p>
                        <p><a class="btn btn-primary btn-lg" href="/adddep" role="button">Add Department </a></p>
                    </div>
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" />
                        First Name:<input type="text" th:field="*{firstName}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}"></span><br/>
                        Last Name:<input type="text" th:field="*{lastName}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{firstName}"></span><br/>
                        Email:<input type="text" th:field="*{email}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span><br/>
                        Phone:<input type="text" th:field="*{phone}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('phone')}"
                              th:errors="*{phone}"></span><br/>
                        Department: <select name="departmentId" class="form-control" />
                        <option th:each="department : ${departments}"
                                th:text="${department.department}"
                                th:value="${department.id}">
                        </option>
                        </select>
                       Profile picture: <input type="file" name="file" /><br/></br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="index :: footer"></div>
</body>
</html>