<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sterling Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1000px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: white;
            color: white;
            padding: 10px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h1>Welcome to the Employees Portal</h1>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/add">Add Employee</a></li>
                <li><a href="/list">See the list of Employees</a></li>
            </ul><br>
            <div class="input-group">
                <form action="/search" method="post">
                    <h4>Search Employees by</h4>
                <input type="text" name="search" class="form-control" placeholder="First Name">
                <input type="text" name="search2" class="form-control" placeholder="Last Name"></br>
                    <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                <form action="/search2" method="post">
                <select name="departmentId" class="form-control" />
                    <option value="">--Department--</option>
                <option value=1>Accounting and Finance</option>
                    <option value=2>Human Resources</option>
                    <option value=3>Marketing & Sales</option>
                    <option value=4>Production</option>
                    <option value=5>Purchasing</option>
                    <option value=6>Research and Development</option>
                </select>
                    <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </div>
        </div>
        <div class="col-sm-9">
            <hr>
            <img src="https://res.cloudinary.com/drelias15/image/upload/v1533925346/Logo_Small_504x200.png" class="rounded float-right" />
            <h2>Hire Fast with Confidence.</h2>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://www.montgomerycollege.edu/_images/home-page/new-wdce-rotator_1920x700.jpg" alt="Los Angeles">
                    </div>

                    <div class="item">
                        <img src="http://www.montgomerycollege.edu/_images/home-page/online-learning-1920x700.jpg" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="http://www.montgomerycollege.edu/_images/home-page/homepage-hero-july-2018-1920x700.jpg" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <h2>WHAT CAN DO FOR YOU?</h2>
            <p class="lead">
                Sterling Staffing Solutions provides contract employment opportunities for Physical Therapy, Speech Therapy, Occupational Therapy, Nurses, and Social Worker positions across Texas.
                We specialize in providing medical staffing services to home health agencies. In addition, we offer placement for temporary and permanent positions within rehab facilities and hospitals as well.
                Our dedicated staff of highly-trained professionals are standing by to assist you. </p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div th:fragment="footer">
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/add">Add Employee</a></li>
                        <li><a href="/list">Go to Employees List</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 align=center">
                    <h5>HERE’S WHAT OUR CLIENTS ARE SAYING</h5>
                    <p> Sterling Staffing Solutions exceed my expectation!!
                        The staff is all reliable, professional and responsible Apple is a delight to work with!</p>
                    <h4>Sheila Jones , RN, DON, , UpCare Home Health</h4>
                </div>
                <div class="col-sm-3 info">
                    <h5>Office Information</h5>
                    <p>
                        Sterling Staffing Solutions</br>
                        14140 Southwest Freeway, Suite 100</br>
                        Healix Building</br>
                        Sugar Land, TX 77478</br>
                        PH: 281-240-3536</br>
                        FX: 888-403-8326 </p>
                </div>
            </div>
        </div>
        <div class="second-bar">
            <div class="container">
                <h2 class="logo"><a href="#"> Sterling Staffing Solutions Inc.</a></h2>
                <div class="social-icons">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-google-plus"></i>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>